.additembtn {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  border: none;
  padding: 7px 15px 7px 15px;
  border-radius: 3px;
  position: relative;
  top: 7px;
}
.additembtn a {
  color: white;
}
#submitnewbtn {
  background: linear-gradient(60deg, #ec407a, #d81b60);
  position: relative;
  top: 30px;
  right: 16px;
}

.submitnewbtn:active {
  background: linear-gradient(60deg, #ab67bc, #8e46aa) !important;
}
#editbtn {
  background: linear-gradient(60deg, #ec407a, #d81b60);
  position: relative;
  top: 30px;
  right: 16px;
}
.login-button {
  background: linear-gradient(60deg, #ec407a, #d81b60);
  color: red;
}
