#submitbtn {
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: green;
  border: 0;
  border-radius: 5%;
  padding: 5px;
}
html,
body {
  height: 100%;
}
.my-card-footer {
  color: #fff;
}
#editbtn {
  background: linear-gradient(60deg, #ec407a, #d81b60);
  position: relative;
  right: 16px;
  top: 30px;
}
.editform,
.addform {
  padding-bottom: 20px;
  margin-right: auto;
  color: red;
}
.errormsg {
  color: red;
  font-weight: bold;
}
.status-select {
  margin-top: 20px;
  padding-bottom: 20px;
}
.active-status {
  background-color: darkgreen;
  color: white;
  font-size: 3;
  font-weight: bold;
  text-align: center;
  width: 18%;
  height: 20px;
  border-radius: 114px 114px 114px 114px / 79px 80px 80px 80px;
  position: relative;
  top: 7px;
}
.inactive-status {
  background-color: crimson;
  color: white;
  font-size: 3;
  font-weight: bold;
  text-align: center;
  width: 18%;
  height: 20px;
  border-radius: 114px 114px 114px 114px / 79px 80px 80px 80px;
  position: relative;
  top: 7px;
}
.item_ean {
  margin-top: 20px;
}
.inactive-status i,
.active-status i {
  font-size: 20px;
}

/* SCAN PAGE */
.scan-container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

/* Modal */
#settingsModal {
  text-align: center;
}
.info-text {
  color: lightgray;
  position: relative;
  bottom: 6px;
}
.modal-body i {
  font-size: 20px;
  color: lightgray;
}
/* Modal */
#warn {
  color: crimson;
  text-align: center;
  font-size: 24px;
}
input#result {
  width: 230px;
}
#startButton,
#resetButton,
#submitButton,
#homeButton {
  font-weight: bold;
  margin-top: 10px;
  color: white;
  margin-bottom: 20px;
}
#result {
  color: #000000;
}
#resultsubmitbtn {
  display: none;
}
iframe {
  border: none;
}
.back-col {
  flex: 1;
  justify-content: flex-start;
  position: relative;
  top: 6px;
}
.back-col a i {
}
.title-col {
  display: flex;
  flex: 1;
  justify-content: center;
}
.settings-col {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  position: relative;
  top: 6px;
}
.settings-col a {
  text-decoration: none;
}
video {
  width: 100%;
}

/* MAIN PAGE */
.nav {
  max-width: 330px;
  height: 6rem;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.nav a:link {
  text-decoration: none;
}
.nav a h6 {
  color: #343a40;
  padding: 5px;
  border: 2px solid #343a40;
  border-radius: 5px;
}
.nav a h6:hover {
  transform: scale(1.1);
  transition: all 0.1s;
}
.form-sort {
  max-width: 330px;
  margin: 0 auto;
  position: relative;
  top: 110px;
}

.form-sort .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-sort .form-control:focus {
  z-index: 2;
}
#display-img {
  width: 50%;
}
.images {
  text-align: center;
  margin-bottom: 20px;
}
